.edit {
  width: 100%;
  height: calc(100vh - 7rem);
  position: absolute;
  top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 2;
}

.edit__form {
  width: 80%;
  height: 20rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-10rem);
  position: relative;
  z-index: 5;
}

.edit__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
}

.edit__close i:hover,
.edit__close i:active {
  color: var(--accent-color-dark);
}

@media screen and (min-width: 900px) {
  .edit__form {
    width: 90rem;
  }
}
