.task {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  padding-left: 2rem;
}

.task-complete {
  background-color: rgba(255, 255, 255, 0.2);
  font-style: italic;
  text-decoration: line-through;
}

.task__name {
  height: 6.3rem;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.task__name:hover .task-complete-form {
  transform: translate(0);
}

.task-complete-form {
  position: absolute;
  right: 0;
  height: 100%;
  width: 10rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #51cf66;
  overflow: hidden;
  transition: all 0.4s ease-out;
  transform: translateX(10rem);
  z-index: 2;
}

.task-complete-form button {
  /* background-color:transparent; */
  border: none;
  width: 100%;
  height: 100%;
  /* background-color: inherit; */
  color: var(--accent-text-color);
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}

.task__btns {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--accent-color-dark);
  z-index: 3;
}

.task__btns:hover {
  background-color: var(--accent-color-light);
}

.task__btn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: var(--accent-text-color);
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

/* .task__btn:hover {
  color: var(--accent-text-color-light);
  transform: scale(1.1);
} */

/* .task__btn:active {
  color: var(--accent-text-color);
} */
