.todo {
  padding-top: 10rem;
  margin: 0 auto;
  box-shadow: var(--shadow);
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
}

.todo__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 56.25em) {
  .todo {
    width: 80rem;
  }
}
